<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static room</title>
    <!--CSS-->
    <link rel="stylesheet" href="../static/style/p81s5_St5.css">
    <!--CSS-->
    <!--LOGO-->
    <link rel="icon" href="">
    <!--LOGO-->
    <!--FONTE-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!--FONTE-->
</head>
<body>
  <section class="room">
    <div class="txt">
      <h1 id="phrase" class="glitch"></h1>
    </div>
  </section>
  <!--JS-->
  <script src="../static/javascript/p81s5_St5.js"></script>
  <!--JS-->
</body>
</html>