<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>[SR]</title>
   <!--JS-->
   <script src="{{ url_for('static', filename='script/script.js')}}"></script>
   <!--JS-->
   <!--CSS-->
   <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
   <!--CSS-->
   <!--LOGO-->
   <link rel="icon" href="">
   <!--LOGO-->
   <!--FONTE-->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
   <header>
      <div class="interface">
         <div class="txt">
            <h1>[SR]</h1>
         </div>
      </div>
   </header>
   <section class="home">
      <article>
         <div class="txt">
            <div class="banner">
               <p>this not a good time</p>
            </div>
         </div>
         <div class="images">
            <div class="item">
               <img src="{{ url_for('static', filename='image/static.gif') }}" alt="static" class="gif">
               <p>A random user</p>
            </div>
         </div>
      </article>
   </section>
</body>
</html>