/*===========================================GLOBAL========================================*/
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Roboto';
  outline: 1px solid #ff0000;
}
:root {
  --back: #121212;
  --fnt: #cecece;
  --ab: #000;
}
/*===========================================GLOBAL========================================*/
/*===========================================HOME==========================================*/
header {
  width: 100%;
  padding: 20px;
  left: 0;
  top: 0;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--ab);
}
header .txt h1 {
  font-size: 3em;
  color: var(--fnt);
}
article {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  height: 100vh;
}
.home {
  display: flex;
}
.home .txt {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--back);
}
.home .txt .banner {
  top: 0;
  position: relative;
}
.home .txt .banner .overlay {
  background-color: #000000b1;
  position: absolute;
  width: 100%;
  height: 40px;
  left: 0;
  top: 0;
  z-index: 1;
}
.home .txt .banner img {
  width: 100%;
  object-fit: cover;
  height: 40px;
  z-index: 0;
}
.home .images {
  width: 20%;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: var(--back);
  gap: 10px;
  padding: 30px 0;
}

.home .images .item {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.home .images .item p {
  font-size: .7em;
  align-items: center;
  text-align: center;
  color: #fff;
}

.home .images .item img {
  width: 80px;
  height: 50px;
  margin-bottom: 10px;
  object-fit: cover;
  display: block;
}
/*===========================================HOME==========================================*/